#!/usr/bin/nft -f

flush ruleset

table inet filter {
        chain input {
                type filter hook input priority 0; policy drop;

                iif lo accept comment "Accept any localhost traffic"
                iifname server accept comment "Accept Wireguard traffic"

                ct state invalid drop comment "Drop invalid connections"
                ct state established,related accept comment "Accept traffic originated from us"
                {% if hidden is false %}
                tcp dport ssh accept comment "Accept SSH on port 22"
                {% endif %}
                udp dport 10101 accept comment "Accept WireGuard connection establishment" 
        }

        chain forward {
                type filter hook forward priority 0; policy drop;

                iifname server accept comment "Accept forwarding WireGuard traffic"
                oifname server tcp flags syn tcp option maxseg size set rt mtu comment "Clamp the MTU so that clients talk with same package size"

                ip saddr 172.10.17.0/24 accept comment "Accept any Docker forwarding traffic"
                ip daddr 172.10.17.0/24 accept comment "Accept any Docker forwarding traffic"
        }

        chain output {
                type filter hook output priority 0; policy accept;
        }
}

table ip nat {
        chain prerouting {
                type nat hook prerouting priority 0; policy accept;
                {% if hidden is false %}
                iif eth0 tcp dport 80 dnat 172.10.17.80 comment "Allow traffic to letsencrypt containers"
                iif eth0 tcp dport 3030 dnat 172.10.17.30 comment "Allow traffic to wirtbot container"
                {% endif %}
                iifname server tcp dport 80 dnat 172.10.17.80 comment "Allow traffic to letsencrypt containers"
                iifname server tcp dport 3030 dnat 172.10.17.30 comment "Allow traffic to wirtbot container"
        }

        chain postrouting {
                type nat hook postrouting priority 100; policy accept;
                oif eth0 masquerade comment "masquerade traffic comming from docker containers"
                oifname server masquerade comment "masquerade traffic comming from docker containers"
        }
}