version: "3.4"
networks:
  dockernet:
    external: true

services:
  WirtBot-Interface:
    image: bmff/wirtbot-interface:release
    networks:
      dockernet:
        ipv4_address: 172.10.17.31
    ports:
      - 80:80
    restart: "unless-stopped"

