version: "3.4"

services:
  WirtBot:
    image: bmff/wirtbot:1.5.3
    network_mode: host
    ports:
      - 80:80
      - 3030:3030
      - 10101:10101/udp
    restart: always
    cap_add:
      - NET_ADMIN
    volumes:
      - /etc/wireguard:/etc/wireguard
      - ./data:/dns
    environment:
      - "PUBLIC_KEY={{ wirtui_public_key }}"
      - "PORT=3030"
      - "MANAGED_DNS_ENABLED=1"
      - "MANAGED_DNS_DEVICE_FILE=/dns/Corefile"
      - "CONFIG_PATH=/etc/wireguard/server.conf"
  coredns:
    network_mode: host
    image: coredns/coredns
    ports:
      - 53:53/udp
    restart: "unless-stopped"
    working_dir: /v
    volumes:
      - ./data:/v

