wirtbot-installer.config.json
**/node_modules
**/target
ImportThisFileIntoYourWirtBotInterface.json
testwirtbot.conf
Build-Automation/System-Tests/compose/test-server-conf
Build-Automation/System-Tests/compose/test-Corefile

