[Unit]
Description=WirtBot for automatic WireGuard configuration
Documentation=https://wirt.network/docs/server

[Service]
User=wirtbot
Group=wirtbot
Type=simple
Restart=always
Environment="PUBLIC_KEY=$INSERT_YOUR_PUBLIC_KEY_FROM_WIRT"
Environment="SSL_PEM_CERT=$PATH_TO_YOUR_CERT"
Environment="SSL_KEY=$PATH_TO_YOUR_KEY"
Environment="PORT=3030"
Environment="HOST=0.0.0.0"
# change the path below depending on where you placed the executable
ExecStart=/usr/bin/wirtbot

[Install]
WantedBy=multi-user.target
