version: "3.4"
networks:
  dockernet:
    external: true

services:
  wirtbot:
    image: bmff/wirtbot:release
    networks:
      dockernet:
        ipv4_address: 172.10.17.30
    ports:
      - 3030:3030
    restart: "unless-stopped"
    volumes:
      - "../letsencrypt/data/:/certs/:ro"
      - /etc/wireguard:/wireguard
      - ../coredns/data:/dns
    environment:
      - "PUBLIC_KEY={{ wirtui_public_key }}"
      - "PORT=3030"
      - "SSL_KEY=/certs/live/{{domain_name}}/privkey.pem"
      - "SSL_PEM_CERT=/certs/live/{{domain_name}}/fullchain.pem"
      - "MANAGED_DNS_ENABLED=1"
      - "MANAGED_DNS_DEVICE_FILE=/dns/Corefile"
      - "CONFIG_PATH=/wireguard/server.conf"

