$background: #fbf8f3;
$secondary: #e07a5f;
$primary: #0f4b81;
$accent: red;
$grey-dark: #eff3f7;
$grey-light: #eeeeee;

$success: green;
$error: red;
$info: $background;
$white: #ffffff;
$black: #000000;

$spacing-x-small: 2px;
$spacing-small: 0.3rem;
$spacing-medium: 1.3rem;
$spacing-large: 2rem;
$spacing-x-large: 4rem;

$heading-large: 2.09rem;
$heading-medium: 1.45rem;

$font-medium: 1rem;
$font-small: 0.73rem;

$border-large: 1rem;
$border-medium: 0.3rem;
$border-small: 1px;

@mixin box-shadow-light {
  box-shadow: $spacing-x-small $spacing-small $spacing-medium 0px
    rgba($black, 0.4);
}

$mobile-width: 600px;
$tablet-width: 1000px;
