.fa-check-square {
  color: $success;
}

.fa-check {
  color: $success;
}

.fa-plus {
  color: $success;
}

.fa-trash {
  color: $warning;
}

.fa-file-download {
  color: $secondary;
}

.fa-edit {
  color: $primary;
}
