name: Build multi arch docker images and push to dockerhub

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  multi:
    strategy:
      matrix:
        runs-on: [buildjet-32vcpu-ubuntu-2204]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Docker meta
        id: docker_meta
        uses: crazy-max/ghaction-docker-meta@v1
        with:
          images: bmff/wirtbot
          tag-semver: |
            {{version}}

      - name: Build and push amd64,arm64
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./Build-Automation/WirtBot/Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ steps.docker_meta.outputs.tags }}
          labels: ${{ steps.docker_meta.outputs.labels }}
